.App {
  text-align: center;
  background-color: green;
  margin: 60px;
  height: 150px;
  padding: 70px;
  width: auto;
  align-items: stretch;
  font-family: sans-serif;
}

.App settingsForm {
  display: grid;
  align-items: stretch;
  grid-template-columns: 15vw 15vw 15vw;
  grid-template-rows: 15vw 15vw 15vw;
  grid-gap: 0.5vw;
  background-color: #fff;
  color: yellow;
}
