body {
  margin: 20px;
  padding: 10px;
  font-family: sans-serif;
  background-color: yellow;
}

.map {
  margin: auto;
  height: 150px;
  width: 150px;
  border: 5px solid green;
}

.maps {
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: absolute;
  bottom: 20px;
  right:20px;
  width: 100%;
  border: 5px solid green;
  padding: 10px;
  background-color: orange;
}

.mapContainer{
  padding: 20px;
  border: 5px solid green;
  background-color: lightblue;
}

input {
  font-family: 'Courier';
  text-align: center;
}

label {
  font-family: 'Garamond';
  margin-left: 20px;
  margin-right: 20px;
  color: yellow;
}

.settingsForm {
  padding: 5px;
  margin: 5px;
}

#input-button {
  width: 130px;
  height: 40px;
  position: absolute;
  right: 500px;
  font-family: 'Times New Roman';
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 20px;
}

h1 {
  text-align: center;
  font-family: 'Times New Roman';
  color: blue;
}

h2 {
  text-align: center;
  font-family: 'Times New Roman';
  color: blue;
}

#ranges {
  position: relative;
  text-align: center;
  font-family: 'Times New Roman';
  color: blue;
}



#temp {
  margin: auto;
  height: 200px;
  width: 200px;
  border: 5px solid green;
  padding: 30px 30px;
  position: absolute;
  top: 40px; right: 40px;
}

#return-button {
  height: 50px;
  width: 100px;
  border: 3px solid blue;
  position: absolute;
  right: 520px;
  top: 400px;
  font-family: 'Times New Roman';
}
