body {
  margin: 20px;
  padding: 10px;
  font-family: sans-serif;
  background-color: yellow;
}

.App {
  text-align: center;
  background-color: green;
  margin: 30px;
  height: 390px;
  padding: 40px;
  width: auto;
  align-items: stretch;
  font-family: sans-serif;
}

input {
  font-family: 'Courier';
  text-align: center;
}

label {
  font-family: 'Garamond';
  margin-left: 20px;
  margin-right: 20px;
  color: yellow;
}

#settingsForm {
  padding: 20px;
}

#input-button {
  width: 130px;
  height: 40px;
  margin-top:20px;
  font-family: 'Times New Roman';
  font-weight: bold;
  font-size: 14px;
}

h1 {
  text-align: center;
  font-family: 'Times New Roman';
  color: lightblue;
}

h2 {
  text-align: center;
  font-family: 'Times New Roman';
  color: lightblue;
}
#ranges {
  margin-top:40px;
  text-align: center;
  font-family: 'Times New Roman';
  color: lightblue;
}

#map {
  margin: auto;
  height: 200px;
  width: 200px;
  border: 5px solid green;
  padding: 30px 30px;
  position: absolute;
  top: 40px; left: 40px;
}

#temp {
  margin: auto;
  height: 200px;
  width: 200px;
  border: 5px solid green;
  padding: 30px 30px;
  position: absolute;
  top: 40px; right: 40px;
}

#return-button {
  height: 50px;
  width: 100px;
  border: 3px solid blue;
  position: absolute;
  right: 520px;
  top: 400px;
  font-family: 'Times New Roman';
}
